<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/673fa9bd-1740-4ae3-a63f-0432e952f0ec/resourcegroups/dockersampleCsharp20191018105025ResourceGroup/providers/Microsoft.Web/sites/Dockersampleapp</ResourceId>
    <ResourceGroup>dockersampleCsharp20191018105025ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://dockersampleapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ContainerResourceId>/subscriptions/673fa9bd-1740-4ae3-a63f-0432e952f0ec/resourcegroups/dockersampleCsharp20191018105025ResourceGroup/providers/Microsoft.ContainerRegistry/registries/registry20191018105045</ContainerResourceId>
    <ContainerResourceName>registry20191018105045</ContainerResourceName>
    <Subscription>Free Trial</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20191018105045.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>59aa7069-3cd8-46be-8f90-db4bf35187d3</ProjectGuid>
  </PropertyGroup>
</Project>